body {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
}

tr:nth-child(even) { background-color: #f2f2f2; }

input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 8px ;
    border-radius: 4px;
    border: 1px solid #ccc;
  
}

.del_btn{
    padding: 6px 12px;
    font-size: 14px;
    width: 100px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
 }

.submit_btn{
   background-color: #28a745;
   margin: 10px;
   padding: 8px;
   border-radius: 5px;
   width: 18%;
   color: white;
   border: none;
   font-size: 14px;
   cursor: pointer;
}

h1 { 
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

.submit_btn:hover { background-color: #218838; /* a darker green */ }
.del_btn:hover { background-color: #c82333; /* a darker red */ }

.total {
    background-color: #f1f1f1;
    padding: 12px 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}     

.flash_messages{
    color: #c82333;
    list-style-type: none;
    margin: 8px
}
.lower-case{
text-transform:lowercase
}

.input_field {
    
}
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #e0ffe0;
    border: 1px solid #00cc00;
    padding: 10px;
    margin-bottom: 10px;
    color: #006600;
    font-weight: bold;
  }
  


    

