<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Trackert</title>
</head>
<body>
    <h1>Welcome to budget tracker</h1>
    <p>This is your home page</p>

    <h2>Add a Transaction</h2>
    <form action="/add_transaction" method="POST"></form>

        <label for="date">Date (YY,MM,DD)</label><br>
        <input type="text" id = 'date' name="date"><br><br>
        
        <label for="description">Decription:</label><br>
        <input type="text" name="description" id="description"><br><br>

        <label for="amount">Amount:</label><br>
        <input type="number" name="amount", id="amount"><br><br>

        <input type="submit" value="Add Transaction">
    </form>

</body>
</html>